/**
 * CSS pour la page sur les couleurs
 */
 @import url(https://fonts.googleapis.com/css?family=Indie+Flower);/*Importation de la font*/
 body {
  background: url(https://media.giphy.com/media/Ph0oIVQeuvh0k/giphy.gif);/*Gif télévision*/
  background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  font-family: 'Indie Flower', cursive;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
 }
 /*Menu fixed top*/
 .head{
   top:0;
   left: center;
   position:fixed;
   background: darksalmon ;
   border-radius: 20px;
   padding: 5px;
   size: 35%;
 }

 .head a{
  color:white;
}
/*Signature*/
.signature{
  top:5px;
  right: 5px;
  position:fixed;
  background:#222;
  box-shadow: 5px 5px 15px 5px #000000;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.signature a{
  font-family: Arial, Helvetica, sans-serif;
  color:#f0f0f0;
}
/*Texte des questions*/
 h1 {
   color:white;
    text-shadow: 2px 2px 5px pink;
  }
/*reponses*/
  a{
    color: rgb(255, 255, 255);
}
/*liste des reponses*/
  ul {
    background:pink;
    border-radius: 10px;
  }

  ul li {
    background:lightsalmon;
    margin: 5px;
    border-radius: 25px;
    padding: 5px;
  }
/*Bouton de choix*/
  .btn {
    box-shadow: 6px 6px 0px 0px #bb3ba6;
    background:#333;
    border:1px solid black;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:'Indie Flower', cursive;
    font-size:17px;
    padding:7px 25px;
    text-decoration:none;
    text-shadow:0px 1px 0px #b1087e;
  }
  .btn:hover {
    background:linear-gradient(to bottom, #df2898 5%, #e22f56 100%);
    background-color:#da2ca5;
  }
  .btn:active {
    position:relative;
    top:1px;
  }
  
  .btns-list{
    display: flex;
    flex-wrap: wrap;
    max-width: 8px;
    justify-content: center;
  }
  .btn{
    margin: 15px;
  }